/* add css module styles here (optional) */


#globe-div{
  overflow: hidden
}

/* 
@font-face {
  font-family: 'Inconsolata';
  src: url('./fonts/Inconsolata-Regular.ttf')  format('truetype'),
      url('./fonts/Inconsolata-Light.ttf')  format('truetype'),
      url('./fonts/Inconsolata-Medium.ttf')  format('truetype');
} */
