/* add css module styles here (optional) */

.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}

#globe-div{
  overflow: hidden
}

/* 
@font-face {
  font-family: 'Inconsolata';
  src: url('./fonts/Inconsolata-Regular.ttf')  format('truetype'),
      url('./fonts/Inconsolata-Light.ttf')  format('truetype'),
      url('./fonts/Inconsolata-Medium.ttf')  format('truetype');
} */
